In [8]:
import pandas as pd
import pymongo
from pymongo import MongoClient
import os
import json
import datetime

In [9]:
# Setup connection to mongodb
conn = "mongodb://localhost:27017"
client = pymongo.MongoClient(conn)

In [10]:
# Select database and collection to use
db = client.economy
collection = db.economy_stuff

In [11]:
# ====== Inserting Documents ====== #


# Creating a simple Pandas DataFrame
# liste_hello = ['hello1','hello2']
# liste_world = ['world1','world2']

# df = pd.DataFrame(data = {'hello' : liste_hello, 'world': liste_world})


df = pd.DataFrame.from_dict({'A': {1: datetime.datetime.now()}})
df

                           A
1 2018-10-13 12:12:53.482912

In [6]:
records = json.loads(df.T.to_json()).values()
records

dict_values([{'A': 1539430991642}])

In [7]:
db.myCollection.insert(records)
# Bulk inserting documents. Each row in the DataFrame will be a document in Mongo
# db.insert_data(df.to_dict('records'))
# db.insert_many(df.to_dict('records'))

print("Data Uploaded!")

Data Uploaded!

C:\Users\Shail\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning: insert is deprecated. Use insert_one or insert_many instead.
  """Entry point for launching an IPython kernel.